.wrapper{
	max-width: 1200px;
	padding:  0 20px;
	margin: auto;
	background-color: #313131;
}

.titleLine {
	border-bottom: 5px solid #a7c353;
	width: calc(100% + 40px);
	margin-left: -20px;
}

.navbar {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
    height: 95px;
}

.container-fluid {
	height: inherit;
	padding: 0;
	border-bottom: 1px solid #a7c353;
}

.collapse {
	height: inherit;
}

.collapse ul {
	height: inherit;
}

.collapse a {
	margin-top: 30px;
}

.collapse li:hover a{
	color: white !important;
}

.collapse li:hover {
	background-color: #a7c353;
	cursor: pointer;
}

.logo p:first-child {
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 0;
	color: #666666;
}

.logo p:last-child {
	font-size: 12px;
	line-height: 50%;
	color: #999999;
}

.carousel-caption {
	left: 55%;
	bottom: -6%;
	width: 340px;
}

.carousel-caption p:first-child {
	font-size: 22px;
	background-color: #a7c353;
	padding: 5px;
}

.carousel-caption p:last-child {
	font-size: 13px;
	background-color: white;
	color: #999999;
	padding: 5px;
	text-align: left;
}

.carousel-indicators li {
	border: 3px solid #a7c353;
	background-clip: inherit;
	border-radius: 20px;
	width: 10px;
	height: 10px;
	background-color: #a7c353;
}

.carousel-indicators .active{
	background-color: white;
}

.carousel-indicators {
	position: relative;
	margin-top: 25px;
}

.carousel-control-next-icon {
    background-image: url(images/other-images/arrowRight.png);
}

.carousel-control-prev-icon {
	background-image: url(images/other-images/arrowLeft.png);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin-bottom: 25px;
}

.carousel-control-prev, .carousel-control-next {
	width: 8%;
}

.quotesWrapper {
	display: flex;
	align-items:center;
	position: relative;
}

.infoAboutCompany {

	color: #999999;
	font-size: 12px;
	line-height: 50%;
}

.infoAboutCompany a:hover {
	color: #a1bc01;
}

.infoAboutCompany a:active {
	color: #6b7d02;
}

.titleDetails{
	font-size: 16px;
	color: #ffffff;
	border-bottom: 1px solid #3a3a3a;
	padding-bottom: 15px; 
	font-weight: 500;
}


.companyDetailsConteiner, .socialGroupsContainer {
	margin-right: 10px;
	
}

.socialGroupsContainer div {
	cursor: pointer;
	border-bottom: 1px solid #3a3a3a;
	margin: auto;
	font-size: 12px;
}

.blogContainer {
	margin-right: 10px;
}

footer{
	margin: 35px auto 10px auto;
	width: 960px;
	display: flex;
	flex-direction: row;
	justify-content: right;
	background-color: #313131;
}

.carousel-item img {
	height: 350px;
}

.containerAboutOurActivity {
	display: flex;
    margin: 50px auto 15px auto;
}

.line{
	margin: auto;
	width: 100%;
	border-top: 1px solid #e2e2e2;
	margin-top: 40px;
}

.collective {
	width: 270px ;
	height: 140px ;
	border: 1px solid #e2e2e2;
	margin-bottom: 25px; 
}


.titleActivity{
	font-size: 22px;
	color: #666666;
}

.titleTextOfSlider{
	text-align:center;
	font-size: 22px;
	font-style: italic;
	margin: 30px 45px;
	text-decoration: underline;
}

.slaider {
	width: 100%;
	max-height: 350px;
	object-fit:cover;
}

.imagesIcon {
	width: 64px;
	height: 64px;
	margin-right: 25px; 
}

.about{
	width: 33.3%;
	padding:  0 40px;
}

.aboutCompany {
	padding-left: 0;
}

.aboutServicesContainer {
	padding-left: 0;
	padding-right: 0; 
}

.aboutServices {
	display: flex;
}

.customerReviews {
	padding-right: 0;
}

.mainContainer{
	font-family: Georgia;
    margin: auto;
    max-width: 960px;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
    font-weight: normal;
    background-color: white;
    color: #666666;
}

.doubleQuote{
	height: 40px;
	width: 64px;
	float: left;
	margin-left: 20px;
}

.link {
	
	text-align: right;
}

.link a {
	font-size: 13px;
	color: #a7c353 !important;
}

.link a:hover{
	cursor: pointer;
	color: #a1bc01 !important;
}

.link a:active{
	color: #6b7d02 !important;
}

.doubleQuoteSymbol{
	color: #d4d4d4;
	font-size: 200px;
	position: absolute;
    top: -70px;
    left: 0;
}

.quotesWrapper span:last-child {
	line-height: 60px;
    margin-left: 84px;
}

.companyDetailsConteiner, .socialGroupsContainer, .blogContainer, .contactUsConteiner {
	flex-basis: 25%;
}

h5{
	color: #878787;
}

.officeHourse {
	font-weight: bold;
}

.floatLeft p:first-child{
	float: left;
}

.margin {
	margin: 30px 0;
}

.margin a {
	color: #a7c353;
}

.firstBlog p:first-child, .secondBlog p:first-child {
	font-size: 13px;
	font-weight: bold;
}



.firstBlog, .secondBlog {
	color: #999999;
	font-size: 12px;
	line-height: 120%
}

.firstBlog {
	margin-bottom: 10px;
}

.firstBlog p:last-child, .secondBlog p:last-child {
	text-align: right;
	color: #a7c353;
	cursor: pointer;
}

.firstBlog a:hover, .secondBlog a:hover {
	color: #a1bc01 !important;
}

.firstBlog a:active, .secondBlog a:active {
	color: #6b7d02 !important;
}

form {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
}

form button {
	width: 80px;
	height: 30px;
	margin: 5px 0px;
	border-radius: 5px;
	border: none;
	background-color: #a7c353;
	font-weight: bold;
	color: #313131;
	font-size: 13px;

}

form input {
	margin: 5px 0px;
	border-radius: 5px;
	background-color: #383838;
	border: none;
	padding-left: 10px;
	color: #999999;

}

form textarea {
	margin: 5px 0px;
	border-radius: 5px;
	background-color: #383838;
	border: none;
	padding-left: 10px;
	height: 130px;
	resize: none;
	color: #999999;
}

form button:hover {
	background-color: #a1bc01;
} 

.linkedIn span {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url(images/other-images/linkedinDouble.png);
	background-position: 32px 0;
	margin: 8px 10px;
}

.twitter span {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url(images/other-images/twitterDouble.png);
	background-position: 32px 0;
	margin: 8px 10px;
}

.pinterest span {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url(images/other-images/pinterestDouble.png);
	background-position: 32px 0;
	margin: 8px 10px;
}

.rss span {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url(images/other-images/rssDouble.png);
	background-position: 32px 0;
	margin: 8px 10px;
}

.socialIcon {
	display: flex;
}

.socialIcon p {
	margin-top: 15px;
	color:#a7c353;
}

.socialIcon:hover span{
	background-position: 0 0;
}

.socialIcon:hover p {
	color: #a1bc01;
}

.socialIcon:active p {
	color: #6b7d02;
}

.copyrightConteiner {
	margin: auto;
	padding: 20px 0px;
	width: 960px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: #999999;
	border-top: 1px solid #3a3a3a;
}

input:hover {
	box-shadow: 0 0 5px white;
}

textarea:hover {
	box-shadow: 0 0 5px white;
}

.headerButton:hover{
	background-color: #e4e0e0;
}

.carousel-indicators li:hover{
	opacity: 1;
}

form button:active {
	padding: calc(.25em + 1px) .5em calc(.25em - 1px);
 	border-color: rgba(177,159,0,1);
  	box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

.headerButton:active {
	border-color: rgba(177,159,0,1);
  	box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
  	font-size: 1.30rem;
}

@media (max-width: 960px){
	.wrapper {
		width: 100%;
	}

	.mainContainer {
		width: calc(100% - 20px);
	}

	.carousel-item img {
		height: calc(100% - 10px);
	}

	.carousel-control-prev-icon, .carousel-control-next-icon {
		width: calc(80% - 10px);
		height: calc(10% - 10px);
	}

	.containerAboutOurActivity {
		flex-direction: column;
	}

	.about {
		width: 100%;
	}

	footer {
		width: 100%;
		flex-direction:row;
		flex-wrap: wrap;
	}

	.copyrightConteiner{
		width: 100%;
	}

	.companyDetailsConteiner, .socialGroupsContainer, .blogContainer, .contactUsConteiner {
		
		justify-content: center;
		align-items: center;
		flex-basis: 48%;
	}


	.collective {
		width: 100%;
		height: 100%;
	}

	.collapse {
		position: relative;
    	z-index: 999;
    	height: auto;
	}

	.collapse a {
		margin: 0;
	}

	.collapse ul {
		background-color: white;
		width: 30% ;
		border: 1px solid #a7c353;
		text-align: center;
		border-radius: 5px;
	}


}

@media (max-width: 560px){
	.companyDetailsConteiner, .socialGroupsContainer, .blogContainer, .contactUsConteiner {
		flex-basis: 25%;
	}

	footer {
		flex-direction: column;
		align-items:center;
	}

	.collapse ul {
		width: 40%;
	}
}


